{% load static %}


<table class = "industrytable" id = "kt">
    <th> Abbrev. </th> <th> Technology </th> <th> Abbrev. </th> <th> Decoration Position  </th><th> Abbrev. </th> <th> Potter Gender </th><th> Abbrev. </th> <th> Has Property </th>
    <tr><td data-tag="S"> S </td>  <td> Spiral </td> <td data-tag="W"> W </td>  <td> Whole </td> <td data-tag="B"> B </td>  <td> Both </td>  <td data-tag="True"> Y </td>  <td> Yes </td> </tr>
    <tr><td data-tag="SB"> SB </td>  <td> Spiral beating </td>  <td data-tag="N"> N </td>  <td> Neck </td><td data-tag="W"> W </td>  <td> Women </td>  <td data-tag="False"> X </td>  <td> No </td></tr>
    <tr><td data-tag="SRB"> SRB </td>  <td> Spiral ring beating </td>  <td data-tag="R"> R </td>  <td> Rim </td><td data-tag="M"> M </td>  <td> Men </td>  </tr>
    <tr><td data-tag="SR"> SR </td>  <td> Spiral with ring </td> <td data-tag="P"> P </td>  <td> Plain</td>  </tr>
    <tr><td data-tag="SBU"> SBU </td>  <td> Spiral beating upside-down </td> </tr>
    <tr><td data-tag="PR"> PR </td>  <td> Pug start with ring beating </td> </tr>
    <tr><td data-tag="LBU"> LBU </td>  <td> Slab beating upside-down </td> </tr>
    <tr><td data-tag="PA"> PA </td>  <td> Paddle and anvil, bits added </td> </tr>
    <tr><td data-tag="PO"> PO </td>  <td> Paddle and anvil, opened by hand </td> </tr>
    <tr><td data-tag="PC"> PC </td>  <td> Paddle and anvil, coils added </td> </tr>
    <tr><td data-tag="RG"> RG </td>  <td> Ring </td> </tr>

</table>  
