{% extends "base.html" %}
{% load static %}


{% block css_files %}
  <link rel="stylesheet" href="{% static "vessels/glossary.css" %}">
  <link rel="stylesheet" href="{% static "vessels/header.css" %}"> 
  <link rel="stylesheet" href="{% static "vessels/search.css" %}">
{% endblock %}

{% block page_title %}
  Vessel Search
{% endblock %}

{% block content %}
  {% include "vessels/includes/header.html" %} 
  <form method="POST">
    {% csrf_token %}
    <h1>Select vessels to compare.</h1>
    <div id="site-form">
      {{ form.vessels_to_include }}
    </div>
    <br>
    <div class = "submit">
      <p>
      <input type="submit" value="Submit"> 
      &emsp; 
      <input type="reset">
     </p>
    </div>

  </form>
  {% include "vessels/includes/footer.html" %}
{% endblock %}
