{% extends "base.html" %} 
{% load static %} 
{% block css_files %}
 <link rel="stylesheet" href="{% static "vessels/glossary.css" %}">
<link rel="stylesheet" href="{% static "vessels/header.css" %}"> 
{% endblock %} 
{% block page_title %} 
Glossary 
{% endblock %} 
{% block content %} 
{% include "vessels/includes/header.html" %}
<h1>Glossary</h1>
<div id="wordlist">
<ul>
  <li><a href="#abrn">Abrupt narrow rim</a></li>
  <li><a href="#abrw">Abrupt wide rim</a></li>
  <li><a href="#appl">Applique</a></li>
  <li><a href="#bake">Baking</a></li>
  <li><a href="#ballb">Ball base</a></li>
  <li><a href="#band">Bands</a></li>
  <li><a href="#base">Base</a></li>
  <li><a href="#beat">Beating</a></li>
  <li><a href="#body">Body</a></li>
  <li><a href="#boil">Boiing</a></li>
  <li><a href="#burial">Burial</a></li>
  <li><a href="#car">Carination</a></li>
  <li><a href="#carv">Carving</a></li>
  <li><a href="#ritual">Ceremonial</a></li>
  <li><a href="#coil">Coil built</a></li>
  <li><a href="#ring">Coil ring built</a></li>
  <li><a href="#spiral">Coil spiral built</a></li>
  <li><a href="#coll">Collar</a></li>
  <li><a href="#imprcom">Comb impressing</a></li>
  <li><a href="#inccom">Comb incising</a></li>
  <li><a href="#com">Common (Quantifier)</a></li>
  <li><a href="#cook">Cooking</a></li>
  <li><a href="#cord">Cord impressing</a></li>
  <li><a href="#cup">Cup</a></li>
  <li><a href="#decbody">Decorated body</a></li>
  <li><a href="#decnec">Decorated collar</a></li>
  <li><a href="#declip">Decorated lip</a></li>
  <li><a href="#decnec">Decorated neck</a></li>
  <li><a href="#decrim">Decorated rim</a></li>
  <li><a href="#decsho">Decorated shoulder</a></li>
  <li><a href="#dent">Dentate</a></li>
  <li><a href="#dir">Direct rim</a></li>
  <li><a href="#din">Direct in rim</a></li>
  <li><a href="#dout">Direct out rim</a></li>
  <li><a href="#dish">Dish</a></li>
  <li><a href="#eat">Eating</a></li>
  <li><a href="#ev">Everted rim</a></li>
  <li><a href="#expo">Exposed coil decoration</a></li>
  <li><a href="#feet">Feet</a></li>
  <li><a href="#fing">Finger marks</a></li>
  <li><a href="#flatbase">Flat base</a></li>
  <li><a href="#feet">Foot</a></li>
  <li><a href="#for">Forno</a></li>
  <li><a href="#fry">Frying</a></li>
  <li><a href="#glaze">Glazing</a></li>
  <li><a href="#gour">Gouging</a></li>
  <li><a href="#gradi">Gradually narrow rim</a></li>
  <li><a href="#gradoe">Gradually thickened exterior rim</a></li>
  <li><a href="#gradoi">Gradually thickened interior rim</a></li>
  <li><a href="#gro">Grooving</a></li>
  <li><a href="#han">Handle</a></li>
  <li><a href="#hea">Hearth</a></li>
  <li><a href="#impr">Impressing</a></li>
  <li><a href="#incis">Incising</a></li> 
  <li><a href="#inc">Incurving rim</a></li>
  <li><a href="#intdecrim">Internal decorated rim</a></li>
  <li><a href="#inv">Inverted rim</a></li>
  <li><a href="#jar">Jar</a></li>
  <li><a href="#jug">Jug</a></li>
  <li><a href="#lamp">Lamp</a></li>
  <li><a href="#lid">Lid</a></li>
  <li><a href="#light">Light</a></li>
  <li><a href="#lip">Lip</a></li>
  <li><a href="#lug">Lug</a></li>
  <li><a href="#mold">Molded built</a></li>
  <li><a href="#mulm">Multiple mouths</a></li>
  <li><a href="#music">Musical instrument</a></li>
  <li><a href="#neck">Neck</a></li>
  <li><a href="#nip">Nipple</a></li>
  <li><a href="#non">None reported (Quantifier)</a></li>
  <li><a href="#lug">Nubbins</a></li>
  <li><a href="#occ">Occasional (Quantifier)</a></li>
  <li><a href="#out">Outcurving rim</a></li>
  <li><a href="#pad">Paddle and anvil</a></li>
  <li><a href="#padi">Paddle impressing</a></li>
  <li><a href="#paint">Painting</a></li>
  <li><a href="#para">Parallel rim</a></li>
  <li><a href="#perf">Perforating</a></li>
  <li><a href="#pinch">Pinching built</a></li>
  <li><a href="#pinb">Pinching base</a></li>
  <li><a href="#plain">Plain decoration</a></li>
  <li><a href="#pla">Plate</a></li>
  <li><a href="#poibase">Pointed base</a></li>
  <li><a href="#conp">Primary and rim construction</a></li>
  <li><a href="#punct">Punctation</a></li>
  <li><a href="#red">Red slip</a></li>
  <li><a href="#remc">Remnanent coil</a></li>
  <li><a href="#res">Restricted</a></li>
  <li><a href="#rim">Rim</a></li>
  <li><a href="#rfoot">Ring foot</a></li>
  <li><a href="#roubase">Round base</a></li>
  <li><a href="#roundb">Rounded both sides rim</a></li>
  <li><a href="#roundo">Rounded thickened exterior rim</a></li>
  <li><a href="#roundi">Rounded thickened interior rim</a></li>
  <li><a href="#sco">Scouring</a></li>
  <li><a href="#sculp">Sculpting</a></li>
  <li><a href="#cons">Secondary construction</a></li>
  <li><a href="#serve">Serving</a></li>
  <li><a href="#sho">Shoulder</a></li>
  <li><a href="#incsin">Simple incising</a></li>
  <li><a href="#slab">Slab built</a></li>
  <li><a href="#slabb">Slab base</a></li>
  <li><a href="#smoke">Smoking</a></li>
  <li><a href="#spib">Spiral base</a></li>
  <li><a href="#spo">Spout</a></li>
  <li><a href="#store">Storage</a></li>
  <li><a href="#temp">Temper</a></li>
  <li><a href="#tran">Transfer</a></li>
  <li><a href="#unres">Unrestricted</a></li>
  <li><a href="#wheel">Wheel built</a></li>
  <li><a href="#gro">Vessel type groups</a></li>
  <li><a href="#typ">Vessel types</a></li>


</ul>
</div>
<p>This standardised vocabulary is based on the theses and books of Patricia May, Margaret Tuckson, Prudence Rice, Simon Best, Glenn Summerhayes, and Stuart Bedford,
  <a href="#ref"> (see References)</a>.
</p>
<div id="intro">
<p>The glossary covers: </p>
  <h3><a href="#typ">* Vessel types </a></h3>
  <h3><a href="#quant">* Quantifiers</a></h3>
  <h3><a href="#part">* Vessel parts</a></h3>
  <h3><a href="#type">* Vessel forms</a></h3>
  <h3><a href="#build">* Vessel construction </a></h3>
  <h3><a href="#rim">* Rim morphology </a></h3>
  <h3><a href="#decp">* Decoration position </a></h3>
  <h3><a href="#dect">* Decoration type</a></h3>
  <h3><a href="#fun">* Vessel functions</a></h3>
</div>

<h2 id="typ">Vessel types</h3>
<p>Also known as industries or technologies. A group of vessels proposed to be made by the same cultural group. As with cultural groups
  their temporal and spatial boundaries can be poorly defined and types can be grouped at different hierarchical levels or (<mark id="gro">vessel type groups</mark>). 
For example the type Futuna Polynesian Plainware jars are part of the Futuna Polynesian Plainware group, which is part of the Polynesian Plainware group.</p>  
<h2 id="quant">Quantifiers</h2>  
<p>The challenge in describing vessel types is that features or properties, will occur in different proportions of a type. For example all Agarabi kabe, are used for cooking, they commonly have outcurving or everted rims, they 
  occasionally have direct rims, but they never have sculptural decoration. As always is difficult to use with 
certainty, this database uses <mark id="com">commonly</mark>, <mark id="occ">occasionally</mark> and <mark id="non">none reported </mark>. <mark>Common</mark> refers to features reported or observable
in several vessels or sherds, or where numbers are available greater than 10 percent. <mark>Occasionally</mark> refers to features with only single vessel examples, or 
present but in less than 10 percent in larger samples.
<h2 id="part">Vessel parts</h2>
<h3 id="lip">Lip</h3>
<p>Edge or margin of the vessel mouth. Part of the rim. All jar vessels, have lips, but only some have <a href="#declip"> decorated lips </a>. 
Some <mark id="mulm">multi-mouthed</mark> vessels had two or three mouths. </p>
<h3 id="spo">Spout</h3>
<p>A projection of the vessel lip that enables pouring of liquids.</p>
{% comment %} <figure><img src="{% static "vessels/images/spout.jpg" %}" alt="Spout." ></figure>
<figcaption> Example of a spout in a Pacific jugs.</figcaption> {% endcomment %}
<h3 id="rim">Rim</h3>
<p>When the vessel wall changes orientation, the rim is the area between the uppermost change of orientation and the mouth. Direct rims have no change and so there is no clear area and it equates to the lip. </p>
<h3 id="neck">Neck</h3>
<p>An area of restriction, from the rim to a lower point of inflection or a corner point (generally the shoulder).
  In this vocabultary this area is considered to be a 'neck' if it is an area of restriction and a 'collar' if it does not constrict the vessel opening. 
</p>
<h3 id="coll">Collar</h3>
<p>A region that does not restrict the vessel opening, from the rim to a carination, lower point of inflection or a corner point.
</p>
{% comment %} <figure><img src="{% static "vessels/images/necks.jpg" %}" alt="Neck and collar." ></figure>
<figcaption> Examples of necks in different Pacific vessel forms.</figcaption> {% endcomment %}
<h3 id="sho">Shoulder</h3>
<p>Present in restricted vessels. The region between the vessel maximum diameter and mouth or neck.</p>
<h3 id="car">Carination</h3>
<p>A sharply acute angled inflexion point in the vessel wall, between the body (belly) and shoulder. </p>
<h3 id="body">Body</h3>
<p>The area of the vessel with largest diameter, between the base and the shoulder or neck. Also called belly. </p>
<h3 id="han">Handle</h3>
<p>A strip or loop of clay that allows the vessel to be held.</p>
<h3 id="base">Base</h3>
<p>The bottom of a vessel. The area of the vessel touching the surface, while it is in use. Bases can be <mark id="flatbase"> flat </mark>, <mark id="roubase">rounded</mark>, or <mark id="poibase">pointed</mark>, sometimes with a <mark id="nip">nipple</mark>. </p>
<h3 id="feet">Foot or Feet</h3>
<p>Appendages on the vessel base. These can be several (often 3) feet derived from lumps of clay or a <mark id="rfoot">ring foot </mark> derived from a ring of clay.</p>
<h2 id="form">Vessel forms</h2>
<h3 id="res">Restricted</h3>
<p>Vessel has a mouth that is less than the maximum diameter.</p>
<h3 id="ures">Unrestricted</h3>
<p>Vessel opening is equal to or greater than its maximum diameter.</p>
<h3 id="for">Forno</h3>
<p>Flat bottomed vessel for baking sago cakes.</p>
<h3 id="jug">Jug</h3>
<p>Vessel for serving liquid. Has handle and spout and height larger than maximum diameter.</p>
<h3 id="jar">Jar</h3>
<p>Vessel height is greater than vessel width.</p>
<h3 id="bowl">Bowl</h3>
<p>Larger mouthed vessel with height more than one-third but less than or equal to its maximum diameter. Usually unrestricted, but can be slightly restricted.</p>
<h3 id="pla">Plate</h3>
<p>Unrestricted vessel with height less than one-fifth its maximum diameter.</p>
<h3 id="dish">Dish</h3>
<p>Unrestricted vessel with height between one-fifth and one-third of its maximum diameter.</p>
<h3 id="cup">Cup</h3>
<p>Small unrestricted drinking vessel. Holds smaller volume (approximately half a litre) than a jar. </p>
<h3 id="lamp">Lamp</h3>
<p>Vessel used as source of light, generally by holding oil.</p>
<h2 id="build">Vessel construction</h2>
<h3 id="temp">Manual tempering</h3>
<p>Has non-plastic inclusions, such as sand or rocks, added to the clay by humans.</p>
<h3 id="conb">Base construction</h3>
<h4 id="spib">Spiral base</h4>
<p>Base with a spiral start</p>
<h4 id="ballb">Ball base</h4>
<p>Base started with a ball of clay.</p>
<h4 id="slabb">Slab base</h4>
<p>Base started with a slab of clay.</p>
<h4 id="pinb">Pinching base</h4>
<p>Base started with pinching.</p>
<h4 id="strb">Strip base</h4>
<p>Base started with a strip of clay.</p>
<h3 id="conp">Primary and rim construction</h3>
<p>Vessels can be built up using coils, slab or molded clay pieces, or a piece of clay can be formed into a vessel using pinching or (rarely in the past) a wheel.
  In some vessels a different building technique was used for the vessel rim.</p>
<h4 id="coil">Coil</h4>
<p>The vesssel is built up with clay that has been rolled out to make cylinderical coils. These coils can be added continuously in a sprial or as rings with one coil per level.
  The coils can be merged with those below, as they are added or joined to the others at the end.</p>
<h4 id="spiral">Coil spiral</h4>
<p>The vessel is built up by coils that may continue on, (spiral up) for more than one level. </p>
<h4 id="ring">Coil ring</h4>
<p>The vessel is built up with every level having a complete circle coil. </p>
<h4 id="slab">Slab</h4>
<p>The vessel is built up with pre-made slabs of clay. The slabs are usually made by being beaten out or sliced off. </p>
<h4 id="pinch">Pinching</h4>
<p>The vessel is built from the potter forming a depression in the centre of the clay and drawing the walls up around the depression.</p>
<h4 id="mold">Molded</h4>
<p>The vessel is built up with pre-made pieces of clay that have been formed by pressing against a mold.</p> 
<h4 id="wheel">Wheel</h4>
<p>The vessel is built up on a (hand- or machine-) rotating wheel. </p>  
<h3 id="cons">Secondary construction</h3>
<p>After the initial forming of the vessel, some vessels are beaten with or without the use of an anvil.</p>
<h4 id="nosec">None</h4>
<p>No secondary construction.</p>
<h4 id="beat">Beating</h4>
<p>Beating of the outside of the vessel with a wooden or bamboo tool.</p>
<h4 id= "pad">Paddle and anvil</h4>
<p>Beating of the outside of the vessel with a wooden paddle and the use of a stone anvil held inside the vessel.</p>
<h2 id="rimorph">Rim morphology</h2>
<h3 id="rimdir">Rim direction</h3>
<p>The rim direction describes how the rim relates to the rest of the vessel. </p>
<h4 id="out">Outcurving rim</h4>
<p>Has a concave rim with the lip curving away from the vessel centre. Has an inflection point as opposed to a corner point.</p>
<h4 id="ev">Everted rim</h4>
<p>The rim starts from an angled corner point in the vessel interior.</p>
<h4 id="dout">Direct out rim</h4>
<p>The rim continues the outward vessel wall outline, lacking a change of direction.</p>
<h4 id="dir">Direct rim</h4>
<p>The rim continues the vertical vessel wall outline, lacking a change of direction.</p>
<h4 id="din">Direct in rim</h4>
<p>The rim continues the inward vessel wall outline, lacking a change of direction.</p>
<h4 id="inv">Inverted rim</h4>
<p>The rim starts from an angled corner point in the vessel exerior.</p>
<h4 id="inc">Incurving rim</h4>
<p>Has a convex rim with the lip curving towards from the vessel centre. Has an inflection point as opposed to a corner point.</p>
<h3 id="rim">Rim profile</h3>
<p>The rim profile describes how the inner and outer walls meet to form the lip.</p>
<h4 id="para">Parallel rim</h4>
<p>In parrallel rims the outer and inner walls stay the same distance apart.</p>
<h4 id="abrn">Abrupt narrow rim</h4>
<p>In abrupt narrow rims, the outer and inner walls suddenly start to converge close to the lip.</p>
<h4 id="abrw">Abrupt wide rim</h4>
<p>In abrupt wide rims, close to the lip, the outer and inner walls suddenly start to diverge.</p>
<h4 id="gradi">Gradually narrow rim</h4>
<p>In gradually narrow rims, the outer and inner walls gradually start to converge close to the lip.</p>
<h4 id="gradoe">Gradually thickened exterior rim</h4>
<p>In gradually thickened exterior rims, the outer wall gradually changes direction moving further from the inner wall.</p>
<h4 id="gradoi">Gradually thickened interior rim</h4>
<p>In gradually thickened interior rims, the inner wall gradually changes direction moving further from the outer wall.</p>
<h4 id="roundb">Rounded both sides rim</h4>
<p>Rounded both sides rims are a variant of the wide abrupt rims where the rims have rounded lips on both the interior and exterior. </p>
<h4 id="roundi">Rounded thickened interior rim</h4>
<p>Rounded thickened interior rims are a variant of the wide abrupt rims where the rims have a rounded lip on the interior.</p>
<h4 id="roundo">Rounded thickened exterior rim</h4>
<p>Rounded thickened exterior rims are a variant of the wide abrupt rims where the rims have a rounded lip on the exterior.</p>

<h2 id="decp">Decoration position</h2>
<h3 id="declip">Decorated lip</h3>
<p>Vessel lips can be plain or decorated, with techniques such as notching, incision, punctation and dentate stamping.</p>
<h3 id="decrim">Decorated rim</h3>
<p>Vessel <a href="#rim">rims</a> can be left plain or decorated with the various <a href="#dect">decoration types</a>. For unrestricted vessels, this refers to those with decorations near the lip of the vessel.</p>
<h3 id="intdecrim">Internal decorated rim</h3>
<p>The inside of vessel <a href="#rim">rims</a> can be decorated with incisions, punctations or exposed coils.</p>
<h3 id="decnec">Decorated neck or collar</h3>
<p>Vessel <a href="#neck">necks</a> or <a href="#coll">collars</a> can be decorated with one or more of the various <a href="#dect">decoration types</a>.</p>
<h3 id="decsho">Decorated shoulder</h3>
<p>Vessel <a href="#sho">shoulders</a> can be decorated with one or more of the various <a href="#dect">decoration types</a>.</p>
<h3 id="decbody">Decorated body</h3>
<p>In some vessels the whole vessel, including the shoulder, neck and rim are decorated with one or more of the various <a href="#dect">decoration types</a>.</p>

<h2 id="dect">Decoration type</h2>
<h3 id="plain">Plain</h3>
<p>Vessels can be left plain with no decoration, except for colourants such as redslip, ie no exposed coil, clay removal and addition.</p>
<h3 id="expo">Exposed coils</h3>
<p>Exposed coil decorated vessels are <a href="#coil">coil built</a> but instead of the walls being smoothed all over, some areas, sometimes the whole vessel interior are left revealing the coils. Sometimes the coils are left exposed in patterns such as triangles.</p>
<h4 id="fing">Finger marks</h4>
<p>Several decorations can be made with human fingers, including fingernail impressions, scratching, pinching, gorging and dragging.</p>
<h3 id="rem">Clay removal</h3>
<h4 id="impr">Impressing</h4>
<p>Impressing is when a tool is pushed into the clay, displacing the clay, to leave an indentation. The displaced clay is not all removed but compresses and slightly bulges around the impressed area.</p>
<h5 id="punct">Punctation (simple impressing)</h5>
<p>Punctation marks are indentations in the clay from a shell, bamboo, bone or wooden tool. They can be several different shapes including, circular, triangular and rectangular. </p>
<h5 id="imprcom">Comb impressing</h5>
<p>Comb impressions are made with a multi-pronged tool that is pressed into the clay. </p>
<h5 id="dent">Dentate</h5>
<p>Dentate decoration consists of complex-patterned stamp impressions. The impressions are made from 
  multi-toothed tools, that result in multiple small (mm wide) indentations in straight or curved lines, with multiple lines combined to form larger complex patterns.  </p>
 <figure><img src="{% static "vessels/images/dentate.jpg" %}" alt="Three dentate sherds with many intricate small toothed impressions." ></figure>
<figcaption> Three Lapita sherds from Anir and Ambitle (Bismarcks) with dentate decoration.</figcaption> 

  <h5 id="padi">Paddle impressing</h5>
<p>Paddle impressions are made from a paddle with carved patterns that is pressed against the vessel, leaving patterned imprints. </p>
<h5 id="cord">Cord impressing</h5>
<p>Cord impressions are made with a cord or rope that is pressed into the clay. The cord is usually wrapped around a paddle that is pressed against the vessel. Also called cord-marked.</p>
<h4 id="incis">Incising</h4>
<p>Incising is when fine lines are made in the clay. The clay is displaced with a pointed tool that is pushed or pulled along the vessel surface.
  Incisions can be simple or comb incisions.</p>
<h5 id="incsin">Simple incising</h5>
<p>Simple incising is when a tool with a single point, is used to make fine lines in the clay. Incisions can be straight or wavy lines and can vary in length.</p>
<h5 id="inccom">Comb incising</h5>
<p>Comb incising is when a multi-pronged tool is used to make simiulatenous incisions in straight or wavy lines. These can vary in length from
  short patterns to lines that circumscribe the vessel.</p>
<h4 id="gro">Grooving</h4>
<p>Grooving is when the clay is removed in continuous channels, with a wider, rounder pointed tool, than fine incison. The edge of the 
  groove is clean and sharp and the strokes end abruptly.</p> 
<h4 id="sco">Scouring</h4>
<p>Scouring is when the vessel is given multiple striations, resulting in a textured surface.</p> 
<h4 id="carv">Carving</h4>
<p>Carving and <mark id="gour">gouging</a> are where the clay is removed (in curls) from the vessel wall for decoration. Larger amounts of clay are removed than incision, but the wall is not perforated. 
  The patterns can be formed by the area removed, or the area left unremoved.</p>
<h4 id="perf">Perforating</h4>
<p>Perforating is where bits of are completely removed from the vessel wall. This can be for decoration or for functional reasons such as
  to make a pot for smoking fish.</p>
<h3 id="addi">Clay addition</h3>
<h4 id="appl">Applique</h4>
<p>Clay decoration that is applied to vessel surface. The applied elements include: smaller additions such as nubbins and lugs; longer bands; and larger sculptural elements.</p>
<h5 id="lug">Nubbins and lugs</h5>
<p>Lugs are pieces of clay that have been added to the vessel wall. They sometimes act as handles and have holes for string for hanging. 
  Nubbins are smaller clay pieces, generally round or oval shaped that have been applied to the vessel. While often formed through addition, lugs and nubbins can also be created from pulling or pinching the forms out from the vessel. </p>
<h5 id="band">Bands</h5>
<p>Strips or coils of clay were applied to (or sometimes pinched out from) the vessel exterior as decoration. 
  Sometimes the top <mark id="remc">remnanent coil</mark> was brought down from the rim and used. 
  For some vessels the bands were further decorated with notching or incising. </p>
<h4 id="sculp">Sculpting</h4>
<p>Sculpting refers to the addition of clay element representations of zoomorphic or anthromorphic forms. Also called modelling.</p>
<h3 id="liq">Liquid colourants</h3>
<p>Coloured liquids could be added to the plain or decorated vessels. Slips were added before firing, while glazing and painting was done after firing.</p>
<h4 id="red">Red slip</h4>
<p>Slip is a more dilute clay water mixture, added to the vessel before firing, with red slip having a brighter red colour than most clays.
   Sometimes red slip vessel decoration included the addition of white lime to highlight incised or impressed decorations. 
  Red slip is the most common slip colour in the Pacific, but a yellowish-tan slip was used in Buin.</p>
<h4 id="glaze">Glazing</h4>
<p>Glazing of pots with plant resins is done after firing, sometimes when the vessel is still hot from the firing. It results in a glossy alteration of the fired vessel clay colour rather than a different colour.</p>
   <h4 id="paint">Painting</h4>
<p>Painting allowed vessels to be coloured with liquid paints or dyes of white, brown, black, grey, yellow or red. 
  Sometimes painting was not done by the original makers, but by the users (such as in the highlands of Papua New Guinea) and in this vocabulary it refers to when the potting community utilised it.</p>

<h2 id="fun">Vessel function</h2>
<h3 id="cook">Cooking</h3>
<p>Cooking vessels were used to produce meals by heating.</p>
<h4 id="boil">Cooking - boiling</h4>
<p>Cooking meals by boiling or stewing involved the addition of liquids, such as water. </p>
<h4 id="bake">Cooking - baking</h4>
<p>Cooking meals by baking involved the addition of only a small amount of liquid. Baking vessels tend to be unrestricted. In some areas of Maluku, sago cakes were baked in pans known as forno.</p>
<h4 id="fry">Cooking - frying</h4>
<p>Cooking meals with small amounts of oils or fats is classified as frying. Frying vessels tend to be shallow pans.</p>
<h4 id="smoke">Cooking - smoking</h4>
<p>Cooking by smoking, involved the use of smoke instead of fire or hot stones. Smoking vessels had holes to allow the smoke to access the food.</p>
<h3 id="serve">Serving</h3>
<p>Vessel used for food after food preparation. The food may be eaten from the vessel communally or individually, or put into other eating bowls. 
  Jugs were used as type of serving vessel for liquids, areas such as Fiji. Serving vessels for solids tended to have unrestricted openings. </p>
<h3 id="eat">Eating</h3>
<p>Eating vessels, were usually unrestricted bowls or plates, from which food was eaten by an individual.</p>
<h3 id="store">Storage</h3>
<p>Storage vessels were used to keep sago, water or tree oil for later use. Storage vessels tend to be restricted. 
  Smaller storage vessels were used for substances such as dyes or ginger.</p>
<h3 id="tran">Transfer</h3>
<p>Transfer vessels were used to transport goods via land or water. They had similar properties to, and could also be used as storage vessels. </p>
<h3 id="burial">Burial</h3>
<p>Burial jars were used to hold recently deceased bodies (primary burials) or the bones from past burials (secondary burials).</p>
<h3 id="ritual">Ceremonial</h3>
<p>Ceramic figurines and jars were used by religious, cult or ceremonial practitioners, for representing cult figures, altars, or storing ceremonial oils or 'sorcery' materials. 
  Ritual house ridge tiles and gable decorations were made in PNG. Archaeologically ceremonial figurines and children's toys can be indistinguishable. </p>
<h3 id="lid">Lid</h3>
  <p>Ceramic lids were used as removable covers for vessels.</p>
<h3 id="hea">Hearth</h3>
<p>Ceramic hearths or fire dishes, were produced for fires to be burnt on.</p>
<h3 id="light">Light</h3>
<p>Lamps were used as source of light, generally by holding oil.</p>
<h3 id="music">Musical instrument</h3>
<p>Ceramic musical instruments include drums and whistles.</p>

{% comment %} <figure><img src="{% static "fabrics2/images/int_colours.jpg" %}" alt="Interference colours." ></figure>
<figcaption> Interference colours from the Michel-Levy chart. Modified by K. Hardy from full chart, see <a href="https://en.m.wikipedia.org/wiki/File:Michel-Lévy_interference_colour_chart_(21257606712).jpg">ZEISS Microscopy Michel-Levy chart</a>.
 </figcaption> {% endcomment %}



{% comment %} <p>While limestones are <a href="#sed">sedimentary rocks</a>, they were generally, included in 'calcareous' by Dickinson, and so have been here. Beach sand, recognisable by the presence of bioclasts (i.e. 'skeletons' of minute reef organisms, such as foraminifera), was a commonly used temper in Oceania. For many Pacific atoll communities it was the only one available. Most Pacific sites feature at least one calcareous or hybrid calcareous-terrigeneous fabric. Unfortunately this makes reef debris calcareous fabrics hard to source to location. However their presence at an inland site is evidence of pottery (or at least temper) importation.
In contrast, fabrics including limeclasts derive from eroded limestones and thus can potentially be more diagnostic. Limeclasts can be distinguished from bioclasts by their unordered internal structure, although the possibility of degraded bioclasts is a confounding factor. Places with limeclast fabrics include Timor (<a href="{% url "fabric-type" "tpr200" %}">tpr200</a>), the Marianas (<a href="{% url "fabric-type" "tpr4" %}">tpr4</a>), Vanuatu (<a href="{% url "fabric-type" "tpr249" %}">tpr249</a>) and Fiji (<a href="{% url "fabric-type" "tpr373" %}">e.g. tpr373</a>).</p> {% endcomment %}


<h2 id="ref">References</h2>

<ol class="refer">
  <li><a href="https://press.anu.edu.au/publications/series/terra-australis/pieces-vanuatu-puzzle"> Bedford, S., 2006, Pieces of the Vanuatu Puzzle. Pandanus Books, Canberra.</a></li>
  <li> <a href="https://researchspace.auckland.ac.nz/handle/2292/1754">Best, S., 1984, Lakeba: the Prehistory of a Fijian Island. PhD Thesis University of Auckland. </a></li>
  <li><a href="https://books.google.com.au/books/about/The_Traditional_Pottery_of_Papua_New_Gui.html?id=dBHkfjHE-i0C&redir_esc=y"> May, P. and Tuckson, M., 2000, The Traditional Pottery of Papua New Guinea. Crawford House Publishing, Adelaide.</a></li>
  <li><a href="https://books.google.com.au/books/about/Pottery_Analysis_Second_Edition.html?id=uKcQCgAAQBAJ&redir_esc=y"> Rice, P. 2015, Potter Analysis: A Sourcebook. The University of Chicago Press.</a></li>
  <li><a href="http://hdl.handle.net/1885/127430">Summerhayes, G., 2000, Lapita Interaction, ANU Press, Canberra.</a></li>

</ol>
{% include "vessels/includes/footer.html" %}
{% endblock %}
