{% extends "base.html" %} 
{% load static %} 
{% block css_files %}
 <link rel="stylesheet" href="{% static "vessels/glossary.css" %}">
<link rel="stylesheet" href="{% static "vessels/header.css" %}"> 
{% endblock %} 
{% block page_title %} 
Glossary 
{% endblock %} 
{% block content %} 
{% include "vessels/includes/header.html" %}
<h1>Glossary</h1>
<div id="wordlist">
<ul>
  <li><a href="#com">Common</a></li>
  <li><a href="#non">None reported</a></li>
  <li><a href="#occ">Occasionally</a></li>
  <li><a href="#unk">x</a></li>
  <li><a href="#gro">Vessel type groups</a></li>
  <li><a href="#typ">Vessel types</a></li>


</ul>
</div>
<p>This standardised vocabulary is based on the theses and books of Simon Best, Glenn Summerhayes, Jim Specht, Ben Shaw, Stuart Bedford  <a href="https://pubs.geoscienceworld.org/gsa/books/book/553/Temper-Sands-in-Prehistoric-Oceanian-Pottery">Dickinson's Temper Sands in Prehistoric Oceanian Pottery</a>,
  <a href="https://www.alexstrekeisen.it/english/index.php"> x</a>.
</p>
<p>The glossary covers: </p>
  <h3><a href="#gen">* General terms </a></h3>
  <h3><a href="#quant">* Quantifiers</a></h3>
  <h3><a href="#part">* Vessel parts</a></h3>
  <h3><a href="#type">* Vessel forms</a></h3>
  <h3><a href="#build">* Vessel construction </a></h3>
  <h3><a href="#rim">* Rim morphology </a></h3>
  <h3><a href="#decp">* Decoration position </a></h3>
  <h3><a href="#dect">* Decoration type</a></h3>
  <h3><a href="#patt">* Decoration pattern</a></h3>
  <h3><a href="#fun">* Vessel functions</a></h3>

<h2 id="gen">General terms</h2>  
<h3 id="typ">Vessel types</h3>
<p>Also known as industries or technologies. A group of vessels proposed to be made by the same cultural group. As with cultural groups
  their temporal and spatial boundaries can be poorly defined and types can be grouped at different hierarchical levels or (<mark id="gro">vessel type groups</mark>). 
For example the type Futuna Polynesian Plainware jars are part of the Futuna Polynesian Plainware group, which is part of the Polynesian Plainware group.</p>  
<h2 id="quant">Quantifiers</h2>  
<p>The challenge in describing vessel types is that features or properties, will occur in different proportions of a type. For example all Agarabi kabe, are used for cooking, they commonly have outcurving or everted rims, they 
  occasionally have direct rims, but they never have sculptural decoration. As always is difficult to use with 
certainty, this database uses <mark id="com">commonly</mark>, <mark id="occ">occasionally</mark> and <mark id="non">none reported </mark>. <mark>Common</mark> refers to features reported or observable
in several vessels or sherds, or where numbers are available greater than 10 percent. <mark>Occasionally</mark> refers to features with only single vessel examples, or 
present but in less than 10 percent in larger samples.
<h2 id="part">Vessel parts</h2>
<h3 id="lip">Lip</h3>
<p>Edge or margin of the vessel mouth. Features related to lips include <a href="#lipdec"> decorated lip </a>, <a href="#lipnotc">notched</a> .</p>
<h3 id="spo">Spout</h3>
<p>x</p>
{% comment %} <figure><img src="{% static "vessels/images/spout.jpg" %}" alt="Spount." ></figure>
<figcaption> Example of a spout in a Pacific jugs.</figcaption> {% endcomment %}
<h3 id="rim">Rim</h3>
<p>When the vessel wall changes orientation, the rim is the area between the change of orientation and the mouth. Direct rims have no change and so there is no clear area and it equates to the lip. </p>
<h3 id="neck">Neck and collar</h3>
<p>The region from the vessel mouth to a point of inflection.
  In some reports this region is called a 'collar' if it does not constrict the vessel opening. For this vocabulary, 'neck' includes collar. 
</p>

{% comment %} <figure><img src="{% static "vessels/images/necks.jpg" %}" alt="Neck and collar." ></figure>
<figcaption> Examples of necks in different Pacific vessel forms.</figcaption> {% endcomment %}
<h3 id="sho">Shoulder</h3>
<p>Present in restricted vessels. The region between the vessel maximum diameter and mouth or neck.</p>
<h3 id="car">Carination</h3>
<p>x.</p>
<h3 id="body">Body</h3>
<p>x.</p>
<h3 id="han">Handle</h3>
<p>x</p>
<h3 id="base">Base</h3>
<p>The bottom of a vessel. The area of the vessel touching the surface, while it is in use.</p>
<h3 id="feet">Foot or Feet</h3>
<p>Appendages on the vessel base.</p>
<h2 id="form">Vessel forms</h2>
<h3 id="res">Restricted jar</h3>
<p>Vessel has a mouth that is less than the maximum diameter.</p>
<h3 id="ures">Unrestricted jar or bowl</h3>
<p>Vessel opening is equal to or greater than its maximum diameter.</p>
<h3 id="for">Forno</h3>
<p>x.</p>
<h3 id="jug">Jug</h3>
<p>x.</p>
<h3 id="pla">Plate</h3>
<p>x.</p>
<h3 id="dish">Dish</h3>
<p>x.</p>
<h3 id="cup">Cup</h3>
<p>x.</p>
<h3 id="lamp">Lamp</h3>
<p>x.</p>
<h2 id="build">Vessel construction</h2>
<h3 id="temp">Manual tempering</h3>
<p>x.</p>
<h3 id="conb">Base construction</h3>
<h4 id="spib">Spiral base</h4>
<p>Spiral start</p>
<h3 id="conp">Primary construction</h3>
<p>x.</p>
<h3 id="conr">Rim construction</h3>
<p>x.</p>
<h3 id="cons">Secondary construction</h3>
<p>x.</p>
<h2 id="rimorph">Rim morphology</h2>
<h3 id="rimdir">Rim direction</h3>
<h4 id="out">Outcurving rim</h4>
<p>x.</p>
<h4 id="ev">Everted rim</h4>
<p>x.</p>
<h4 id="dout">Direct out rim</h4>
<p>x.</p>
<h4 id="dir">Direct rim</h4>
<p>x.</p>
<h4 id="din">Direct in rim</h4>
<p>x.</p>
<h4 id="inv">Inverted rim</h4>
<p>x.</p>
<h4 id="inc">Incurving rim</h4>
<p>x.</p>
<h3 id="rim">Rim profile</h3>
<h4 id="para">Parallel</h4>
<p>x.</p>
<h4 id="abrn">Abrupt narrow rim</h4>
<p>x.</p>
<h4 id="abrw">Abrupt wide rim</h4>
<p>x.</p>
<h4 id="gradi">Gradually narrow rim</h4>
<p>x.</p>
<h4 id="gradoe">Gradually thickened exterior rim</h4>
<p>x.</p>
<h4 id="gradoi">Gradually thickened interior rim</h4>
<p>x.</p>
<h4 id="roundb">Rounded both sides rim</h4>
<p>x.</p>
<h4 id="roundi">Rounded thickened interior rim</h4>
<p>x.</p>
<h4 id="roundo">Rounded thickened exterior rim</h4>
<p>x.</p>
<h2 id="decp">Decoration position</h2>
<h3 id="declip">Decorated lip</h3>
<p>x.Includes notching, short incised rim, triangular notching, impressed .</p>
<h3 id="decrim">Decorated rim</h3>
<p>x.Includes very top for unrestricted.</p>
<h3 id="intdecRim">Internal decorated rim</h3>
<p>x.Includes very top for unrestricted.</p>
<h3 id="decnec">Decorated neck</h3>
<p>x.Includes top upper body for unrestricted.includes rim</p>
<h3 id="decsho">Decorated shoulder</h3>
<p>x.Includes upper body for unrestricted.includes neck and rim</p>
<h3 id="decbody">Decorated body</h3>
<p>x. Includes shoulder, neck and rim</p>

<h2 id="dect">Decoration type</h2>
<h3 id="plain">Plain</h3>
<p>No exposed coil, clay removal and addition. Can have slip or painting.</p>
<h3 id="expo">Exposed coils</h3>
<p>x.Includes exposing in triangle or other patterns.</p>
<h3 id="rem">Clay removal</h3>
<h4 id="impr">Impressing</h4>
<p>x.</p>
<h5 id="punct">Punctation (simple impressing)</h5>
<p>x.</p>
<h5 id="imprcom">Comb impressing</h5>
<p>x.</p>
<h5 id="dent">Dentate</h5>
<p>x.</p>
<h5 id="pad">Paddle impressing</h5>
<p>x.</p>
<h5 id="cord">Cord impressing</h5>
<p>x.</p>
<h4 id="fing">Finger marks</h4>
<p>Gorging and dragging, fingernail impression, .</p>
<h4 id="incis">Incising</h4>
<p>Fine lines are made in the clay, with a pointed tool that is pushed or pulled along displacing the clay.</p>
<h5 id="incsin">Simple incising</h5>
<p>When a tool with a single point, is used to make the incisions. Incisions can be straight or wavy lines and can vary in length.</p>
<h5 id="inccom">Comb incising</h5>
<p>When a multi-pronged tool is used to make simiulatenous incisions in straight or wavy lines. These can vary in length from
  short patterns to lines that circumscribe the vessel.</p>
<h4 id="gro">Grooving</h4>
<p>When the clay is removed in continuous channels, with a wider, rounder pointed tool, than fine incison. The edge of the 
  groove is clean and sharp and the strokes end abruptly.</p> 
  <h4 id="sco">Scouring</h4>
<p>When the vessel has multiple striations for texture.</p> 
<h4 id="carv">Carving</h4>
<p>Where the clay is removed from the vessel wall for decoration. Larger amounts of clay (curls of clay) are removed than incision, but the wall is not perforated.</p>
<h4 id="perf">Perforating</h4>
<p>Where the clay is completely removed from the vessel wall. This can be for decoration and for functional reasons such as
  to make a pot for smoking fish.</p>
<h3 id="addi">Clay addition</h3>
<h4 id="appl">Applique</h4>
<p>x.</p>
<h5 id="lug">Nubbins and lugs</h5>
<p>x.</p>
<h5 id="band">Bands</h5>
<p>x.Includes notched bands. Includes remnant coil. </p>
<h4 id="sculp">Sculpting</h4>
<p>x.</p>
<h3 id="liq">Colourants</h3>
<h4 id="red">Red slip</h4>
<p>x. Sometimes includes the addition of white lime.</p>
<h4 id="paint">Painting</h4>
<p>x. Note that sometimes this was not done by the original makers, but by the buyers.</p>

<h2 id="fun">Vessel function</h2>
<h3 id="cook">Cooking</h3>
<p>Cooking vessels were used to produce meals by heating.</p>
<h4 id="boil">Cooking - boiling</h4>
<p>Cooking meals by boiling or stewing involved the addition of liquids, such as water. </p>
<h4 id="bake">Cooking - baking</h4>
<p>Cooking meals by baking involved the addition of only a small amount of liquid. Baking vessels tend to be unrestricted. In some areas of Maluku, sago cakes were baked in pans known as forno.</p>
<h4 id="fry">Cooking - frying</h4>
<p>Cooking meals with small amounts of oils or fats is classified as frying. Frying vessels tend to be shallow pans.</p>
<h4 id="smoke">Cooking - smoking</h4>
<p>Cooking by smoking, involved the use of smoke instead of fire or hot stones. Smoking vessels had holes to allow the smoke to access the food.</p>
<h3 id="serve">Serving</h3>
<p>Vessel used for food after food preparation. The food may be eaten from the vessel communally or individually, or put into other eating bowls. 
  Jugs were used as type of serving vessel for liquids, areas such as Fiji. Serving vessels for solids tended to have unrestricted openings. </p>
<h3 id="eat">Eating</h3>
<p>Eating vessels, were usually unrestricted bowls or plates, from which food was eaten by an individual.</p>
<h3 id="store">Storage</h3>
<p>Storage vessels were used to keep sago, water or tree oil for later use. Storage vessels tend to be restricted. 
  Smaller storage vessels were used for substances such as dyes or ginger.</p>
<h3 id="tran">Transfer</h3>
<p>Transfer vessels were used to transport goods via land or water. They had similar properties to, and could also be used as storage vessels. </p>
<h3 id="burial">Burial</h3>
<p>Burial jars were used to hold recently deceased bodies (primary burials) or the bones from past burials (secondary burials).</p>
<h3 id="ritual">Ceremonial</h3>
<p>Ceramic figurines and jars were used by religious, cult or ceremonial practitioners, for representing cult figures, altars, or storing ceremonial oils or 'sorcery' materials. 
  Ritual house ridge tiles and gable decorations were made in PNG. Archaeologically ceremonial figurines and children's toys can be indistinguishable. </p>
<h3 id="lid">Lid</h3>
<p>Ceramic lids were used as removable covers for vessels.</p>
<h3 id="hea">Hearth</h3>
<p>Ceramic hearths or fire dishes, were produced for fires to be burnt on.</p>
<h3 id="music">Musical instrument</h3>
<p>Ceramic musical instruments include drums and whistles.</p>

{% comment %} <figure><img src="{% static "fabrics2/images/int_colours.jpg" %}" alt="Interference colours." ></figure>
<figcaption> Interference colours from the Michel-Levy chart. Modified by K. Hardy from full chart, see <a href="https://en.m.wikipedia.org/wiki/File:Michel-Lévy_interference_colour_chart_(21257606712).jpg">ZEISS Microscopy Michel-Levy chart</a>.
 </figcaption> {% endcomment %}



{% comment %} <p>While limestones are <a href="#sed">sedimentary rocks</a>, they were generally, included in 'calcareous' by Dickinson, and so have been here. Beach sand, recognisable by the presence of bioclasts (i.e. 'skeletons' of minute reef organisms, such as foraminifera), was a commonly used temper in Oceania. For many Pacific atoll communities it was the only one available. Most Pacific sites feature at least one calcareous or hybrid calcareous-terrigeneous fabric. Unfortunately this makes reef debris calcareous fabrics hard to source to location. However their presence at an inland site is evidence of pottery (or at least temper) importation.
In contrast, fabrics including limeclasts derive from eroded limestones and thus can potentially be more diagnostic. Limeclasts can be distinguished from bioclasts by their unordered internal structure, although the possibility of degraded bioclasts is a confounding factor. Places with limeclast fabrics include Timor (<a href="{% url "fabric-type" "tpr200" %}">tpr200</a>), the Marianas (<a href="{% url "fabric-type" "tpr4" %}">tpr4</a>), Vanuatu (<a href="{% url "fabric-type" "tpr249" %}">tpr249</a>) and Fiji (<a href="{% url "fabric-type" "tpr373" %}">e.g. tpr373</a>).</p> {% endcomment %}


<h2 id="ref">References</h2>

<ol class="refer">
  
  <li><a href="https://media.australian.museum/media/Uploads/Journals/17860/1285_complete.pdf"> Dickinson, W.R., 1998, Petrographic temper provinces of prehistoric pottery in Oceania. Records of the Australian Museum 50(3): 263–276. </a></li>
  <li><a href="https://www.jstor.org/stable/25801160?seq=16"> Dickinson, W.R. & Shutler, R., 2000, Implications of Petrographic Temper Analysis for Oceanian Prehistory. Journal of World Prehistory 14(3): pp. 203-266. </a></li>
  <li><a href="https://pubs.geoscienceworld.org/gsa/books/book/553/Temper-Sands-in-Prehistoric-Oceanian-Pottery"> Dickinson, W.R., 2006, Temper Sands in Prehistoric Oceanian Pottery: Geotectonics, Sedimentology, Petrography, Provenance. Geological Society of America
    Geological Society of America, Volume 406 </a></li>
  <li><a href="https://viva.pressbooks.pub/petrology">Johnson, E.A. & Liu, J.C., Introduction to Petrology.
  <li><a href="https://www.cambridge.org/au/universitypress/subjects/earth-and-environmental-science/mineralogy-petrology-and-volcanology/earth-materials-introduction-mineralogy-and-petrology-2nd-edition?format=AR&isbn=9781316608852"> Klein, C. & Philpotts, A., 2017, Earth Materials: Introduction to Mineralogy and Petrology. 2nd Ed. Cambridge Press. Cambridge </a></li>
  <li><a href="http://www.labotka.net/310/Atlas/table-of-contents.html"> Labotka, T.C., 2014, Geology 310 </a></li>
  <li><a href="https://www.taylorfrancis.com/books/mono/10.1201/9781315116365/rocks-minerals-thin-section-brodie-mackenzie-adams"> MacKenzie, W.S., Adams, A.E. & Brodie, K.H., 2017, Rocks and Minerals in Thin Section. CRC Press, London</a></li>
  <li><a href="https://www2.tulane.edu/~sanelson/eens211/index.html"> Nelson, S.A., 2017, Earth & Environmental Sciences 2110 Mineralogy </a></li> 
  <li><a href="https://geo.libretexts.org/Bookshelves/Geology/Mineralogy_(Perkins_et_al.)">Perkins, D. 2022, Mineralogy</a></li>
  <li><a href="http://www.ucl.ac.uk/~ucfbrxs/PLM/PLMhome.html">Siddall, R., 2014, Minerals Menu: a catalogue of minerals & textures in thin section.</a></li>
  <li><a href="https://www.science.smith.edu/geosciences/petrology/petrography/mineral_list.html">Smith College Students, Petrographic Data Files.</a></li>
  <li><a href="https://www.alexstrekeisen.it/english/index.php">Strekeisen, A., 2006-2020</a></li>
</ol>
{% include "vessels/includes/footer.html" %}
{% endblock %}
