{% extends "base.html" %} 
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "vessels/glossary.css" %}">
  <link rel="stylesheet" href="{% static "vessels/header.css" %}"> 
  <link rel="stylesheet" href="{% static "vessels/leaflet.css" %}">
  <link rel="stylesheet" href="{% static "vessels/map.css" %}">
  <script src="{% static "vessels/leaflet.js"%}"></script>
  <script src="{% static "vessels/map.js" %}"></script>
{% endblock %}

{% block page_title %} Map {% endblock %}
{% block content %} 
{% include "vessels/includes/header.html" %} 

<h1>Map</h1>
    <div id="map">
 
    <script> 
      var picon = "{% static "vessels/images/redPot2.png" %}";
      var bicon = "{% static "vessels/images/bluePot2.png" %}";
      var grcon = "{% static "vessels/images/ltgreyPot.png" %}";
      let mbsu = "{{mbsu}}";
      let thsu = "{{thsu}}";
      let siteNames = [];
      let siteLat = [];
      let siteLng = [];
      let siteLinks = [];
      let siteVessels = [];
      let siteColour = [];
      let mapcentre =  [-4.5, 160];
      {% for site in sites %}
        siteNames.push("{{site.name}}");
        siteLat.push({{site.lat}});
        siteLng.push({{site.lng}});
        siteLinks.push("{{ site.get_absolute_url }}");
       {% comment %} siteVessels.push("{{site.maptag}}"); {% endcomment %}
        siteVessels.push("{{site.vessel_string}}");
        {% if site.maptag %} 
          {% if site.production_site %} siteColour.push(1);
          {% else %} siteColour.push(0);
        {% endif %}
        {% else %} siteColour.push(2);
        {% endif %}
      {% endfor %}
      getMap(); 
    </script> 
  </div>

  <div class="key"> 
    <img src="{% static "vessels/images/redPot2.png" %}" alt="red pot" height="50"> Production site. <br>
    <br>
    <img src="{% static "vessels/images/bluePot2.png" %}" alt="blue pot" height="50"> Import site.  <br>

    <p id="targetSite"></p> </div>

 <div class="site-form">

    <table class = "industrytable" id = "it">
      <th>Site</th> <th> Region </th> <th> Details </th>
      {% for site in sites%}
      <tr> <td> <a href="{{ site.get_absolute_url }}">{{site.name}} </td>  <td> {{site.region}} </td> <td> {{site.details}} </td></tr>
      {% endfor %}
      </table>
  </div> 

  <br>
 
  {% include "vessels/includes/footer.html" %}
{% endblock %}
