{% extends "base.html" %} 
{% load static %}

{% block css_files %}
  {% comment %} 
  <link rel="stylesheet" href="{% static "vessels/leaflet.css" %}">
  <script src="{% static "vessels/leaflet.js"%}"></script>
  <script src="{% static "vessels/map.js" %}"></script> {% endcomment %}
  <link rel="stylesheet" href="{% static "vessels/glossary.css" %}">
  <link rel="stylesheet" href="{% static "vessels/header.css" %}"> 
{% endblock %}

{% block page_title %} Vessel Details {% endblock %}
{% block content %} {% include "vessels/includes/header.html" %} 
<div>
<h1>{{ site.name }}</h1>
 <p> {{ site.details }} </p>
</div>
  <div class="after-map">
    <h2>Vessels </h2>
    <table class = "industrytable" id = "it">
      <th>Vessel</th> <th> Production </th> <th> Start (BP) </th> <th> End (BP)</th><th> Details</th>
      {% for ves in vessels%}
      <tr> <td> <a href="{{ ves.get_absolute_url }}">{{ves.name}} </td> <td> local </td><td> {{ves.time_start}} </td> <td> {{ves.time_end}} </td><td> {{ves.details}} </td></tr>
      {% endfor %}
      {% for ives in ivessels%}
      <tr> <td> <a href="{{ ives.get_absolute_url }}">{{ives.name}} </td> <td> imported </td><td> {{ives.time_start}} </td> <td> {{ives.time_end}} </td><td> {{ives.details}} </td></tr>
      {% endfor %}
      </table>
      <h2>Vessel Groups </h2>
      <table class = "industrytable" id = "it">
        <th>Group</th> <th> Production </th> 
        {% for vesgr in vesselgr%}
        <tr> <td> <a href="{{ vesgr.get_absolute_url }}">{{vesgr.name}} </td> <td> local </td></tr>
        {% endfor %}
        {% for ivesgr in ivesselgr%}
        <tr> <td> <a href="{{ ivesgr.get_absolute_url }}">{{ivesgr.name}} </td> <td> imported </td></tr>
        {% endfor %}
        </table>
  </div>


  {% include "vessels/includes/footer.html" %}
{% endblock %}
