{% extends "base.html" %} 
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "vessels/glossary.css" %}">
<link rel="stylesheet" href="{% static "vessels/header.css" %}"> 
<link rel="stylesheet" href="{% static "vessels/leaflet.css" %}">
<link rel="stylesheet" href="{% static "vessels/map.css" %}">
<script src="{% static "vessels/leaflet.js"%}"></script>
<script src="{% static "vessels/map.js" %}"></script>
{% endblock %}

{% block page_title %} Vessel Details {% endblock %}
{% block content %} {% include "vessels/includes/header.html" %} 
<h1>{{ the_vessel.name }}</h1>
{% if prod_sites or imp_sites %}
    <div id="map">
 
    <script> 
      var picon = "{% static "vessels/images/redPot2.png" %}";
      var bicon = "{% static "vessels/images/bluePot2.png" %}";
      let mbsu = "{{mbsu}}";
      let thsu = "{{thsu}}";
      let siteNames = [];
      let siteLat = [];
      let siteLng = [];
      let siteLinks = [];
      let siteVessels = [];
      let siteColour = [];
      let mapcentre =  [-4.5, 160];
      {% for site in prod_sites %}
        siteNames.push("{{site.name}}");
        siteLat.push({{site.lat}});
        siteLng.push({{site.lng}});
        siteLinks.push("{{ site.get_absolute_url }}");
        siteVessels.push("{{site.vessel_string}}");
        siteColour.push(1);
        mapcentre = [{{site.lat}}, {{site.lng}}];
      {% endfor %}
      {% for site in imp_sites %}
        siteNames.push("{{site.name}}");
        siteLat.push({{site.lat}});
        siteLng.push({{site.lng}});
        siteLinks.push("{{ site.get_absolute_url }}");
        siteVessels.push("{{site.vessel_string}}");
        siteColour.push(0);
      {% endfor %}
      getMap(); 
    </script> 
  </div>

  <div class="key"> 
    <img src="{% static "vessels/images/redPot2.png" %}" alt="red pot" height="50"> Production site. <br>
    <br>
    <img src="{% static "vessels/images/bluePot2.png" %}" alt="blue pot" height="50"> Import site.  <br>

    <p id="targetSite"></p> </div>

  {% else %} <p>No site information available.</p>
  {% endif %}

  <div class="after-map">
    <p> Time Period: {{ the_vessel.time_start }} BP - {{the_vessel.time_end}} BP </p>
    <p> {{ the_vessel.details }} </p>
    <h2>A Map of sites: production and import. </h2>
    <p> Need to import sites and if production or import.- so import production. Import import. </p>
    <h2>Belongs to Vessel Groups:</h2>
    {% if vgr %}
      {% for gr in vgr %}
        <h3> <a href="{{ gr.get_absolute_url }}"> {{gr.name}} </a> </h3>
      {% endfor %}
    {% else %}
      <p>No groups recorded.</p>
    {% endif%} 
    <h2>The Potters </h2>
    <p> Language: {{ the_vessel.language }} include glottolog link? </p>
    <p> Gender Makers: {{ the_vessel.gender_make }}  </p>
    <p> Gender Decorators: {{ the_vessel.gender_decorate }}  </p>

    <h2> Creation </h2>
    <p> Base: {{ the_vessel.base_technique }}, Rim: {{ the_vessel.rim_technique }}, Primary: {{ the_vessel.primary_technique }}, Secondary: {{ the_vessel.secondary_technique }} </p>
    <p> Manual tempering: {{ the_vessel.temper }} </p>
    {% if fabrics %}
    <p>Fabrics: </p>
    {% for fab in fabrics %}
      <h3> <a href="https://kudenfabrics.anu.edu.au/{{ fab.name }}"> {{fab.fullname}} </a> </h3>
    {% endfor %}
  {% else %}
    <p>No fabrics recorded.</p>
  {% endif%} 
    <h2> Use </h2>
    <p> import use </p>
    <h2> Morphology </h2>
    <p> List morphology features but separate by common and rare. </p>
    <h2> Decoration </h2>
    <p> List decoration features but separate by common and rare. </p>
  </div> 



  <div >
    <h2>A Table? </h2>
    
      <h3>Sketches</h3>
      {% if vessel_images %}
        {% for image in vessel_images %}
          <figure><img src="{% static "vessels/images/drawings/"|add:image.imageloc %}" alt={{ image.name }} height= 500> 
          <figcaption> Sketch based on {{ image.details }}. </figcaption> 
          </figure>
        {% endfor %}
      {% else %}
        <p>No images available.</p>
      {% endif%} 
    <h2>References:</h2>
      {% for ref in v_ref %}
        <h3> <a href="{{ ref.get_absolute_url }}"> {{ref.name}} ({{ ref.author_list }})</a> </h3>
      {% endfor %}
  </div>
  {% include "vessels/includes/footer.html" %}
 
{% endblock %}
