h1 {
    font-size: 3rem;
    color: #3ab2e9;
    margin: auto;
    width: 50%; 
}

h2 {
    font-size: 3.5rem;
    color: pink;
    text-align: left;
    font-weight: normal;
    margin: 2rem 2rem 1rem 2rem;
}
h3 {
  font-size: 3rem;
  color: #3ab2e9;
  text-align: left;
  font-weight: bold;
  margin: 2.2rem 2rem 1rem 2rem;
}
h4 {
  font-size: 2.5rem;
  color: #3ab2e9;
  text-align: left;
  font-weight: normal;
  margin: 2.4rem 2rem 1rem 2rem;
}
h5 {
  font-size: 2rem;
  color: #3ab2e9;
  text-align: left;
  font-weight: normal;
  margin: 2.6rem 2rem 1rem 2rem;
}






.hometable td {
  font-size: 2rem;
  text-align: center;
  padding-top: 12px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;

}
.linked {
    margin-left: 3rem;
}
p {
  margin: 0.5rem 2rem 1rem 2rem;
    color: #f1eeee;
    font-size: 1.5rem;
}
figcaption {
    font-size: 0.8rem;
    color: #3ab2e9;
    margin: 0.5rem 2rem 1rem 2rem;
    font-style: italic;
}
a {
    color: pink;
}
a:hover,
a:active {
  color: #1310a7;
  }

figcaption a {
    color: #1310a7;
    text-decoration: none;
}

figcaption a:hover,
figcaption a:active {
    color: #1310a7;
}


ul {
    float: left;
    list-style: none;
    margin: 0rem 2rem;
    width: 10%;
    max-width: 50rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    padding: 1rem;
    border-radius: 16px;
    background-color: #f1eeee; 
}


li{
    margin: 1rem 0;
    text-align: left;
    font-size: 0.8rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5rem;

}

li a {
    text-decoration: none;
    color: #1310a7;
}

li a:hover,
li a:active {
    color: pink;
}

ol {
    float: none;
    list-style: none;
    margin: 2rem 2rem 2rem 2rem;
    width: 90%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    padding: 1rem;
    border-radius: 16px;
    background-color: #f1eeee; 
}

mark {
    background-color: transparent;
    color: #ccc;
    font-style: italic;
  
}



#map { 
    width: 1000px;
    height: 400px;
    margin: 2rem 2rem 1rem 1rem;
    float: left;
  }
.after-map {
    clear: left;
}

/* #fea tr {
  border-right: 2px solid black;
} */


.industrytable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
    margin: 2rem 1rem 1rem 1rem;
    line-height: 22pt;
  }
  
  .industrytable td, .industrytable th {
    padding: 8px;
    color: whitesmoke
  }
  
  #fea td {
    border: 5px solid black;
    vertical-align: top; 
  } 
  #fea p {
    margin: 0rem 0rem 0rem 0rem;
      color: #f1eeee;
      font-size: 1.5rem;
  }
  #fea th {
    background-color: #2d2d2d; 
    border: 5px solid black;
    color: #ddd;
    
  } 
  #it {
    width: 95%; 
    
  } 

  #exta {
    float: right;
    margin: 0rem 10rem 2rem 2rem;
    width: 10%;
    max-width: 50rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    padding: 1rem;
    border-radius: 16px;
    background-color: #2d2d2d; 
}

  .industrytable tr {
    border-bottom: 2px solid black;
    }

  .industrytable td {
  color: white;
  }
  .industrytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #acaead;
    color:whitesmoke;
    border: 1px solid #ddd;
  }
  .industrytable [data-tag="ltblor"] {
    background-color:LightBlue;
    color:OrangeRed;
    padding:4px 5px;
  }
  .industrytable [data-tag="por"] {
    background-color:pink;
    color:OrangeRed;
    padding:4px 5px;
  }
  .industrytable [data-tag="pod"] {
    background-color:pink;
    color:OliveDrab;
    padding:4px 5px;
  }
  .industrytable [data-tag="pba"] {
    background-color:pink;
    color:Black;
    padding:4px 5px;
  }
  .industrytable [data-tag="pfbr"] {
    background-color:pink;
    color:FireBrick;
    padding:4px 5px;
  }
  .industrytable [data-tag="pfgr"] {
    background-color:pink;
    color:ForestGreen;
    padding:4px 5px;
  }
  .industrytable [data-tag="pgre"] {
    background-color:pink;
    color:Grey;
    padding:4px 5px;
  }
  .industrytable [data-tag="pdbl"] {
    background-color:pink;
    color:DodgerBlue;
    padding:4px 5px;
  }
  .industrytable [data-tag="pind"] {
    background-color:pink;
    color:Indigo;
    padding:4px 5px;
  }
  .industrytable [data-tag="ltblind"] {
    background-color:LightBlue;
    color:Indigo;
    padding:4px 5px;
  }
  .industrytable [data-tag="ltblba"] {
    background-color:LightBlue;
    color:Black;
    padding:4px 5px;
  }
  .industrytable [data-tag="ltblfb"] {
    background-color:LightBlue;
    color:FireBrick;
    padding:4px 5px;
  }
  .industrytable [data-tag="ltblfgr"] {
    background-color:LightBlue;
    color:ForestGreen;
    padding:4px 5px;
  }
  .industrytable [data-tag="ltblbr"] {
    background-color:LightBlue;
    color:Brown;
    padding:4px 5px;
  }
  .industrytable [data-tag="ltblmb"] {
    background-color:LightBlue;
    color:MediumBlue;
    padding:4px 5px;
  }
  .industrytable [data-tag="ltbldgr"] {
    background-color:LightBlue;
    color:DarkGreen;
    padding:4px 5px;
  }
  .industrytable [data-tag="dkblbl"] {
    background-color:#1310a7;
    color:#3ab2e9;
    padding:4px 5px;
  }
  .industrytable [data-tag="dkblco"] {
    background-color:#1310a7;
    color:LightCoral;
    padding:4px 5px;
  }
  .industrytable [data-tag="dkblltgr"] {
    background-color:#1310a7;
    color:LightGreen;
    padding:4px 5px;
  }
  .industrytable [data-tag="dkblltbl"] {
    background-color:#1310a7;
    color:LightBlue;
    padding:4px 5px;
  }
  .industrytable [data-tag="dkblgo"] {
    background-color:#1310a7;
    color:Gold;
    padding:4px 5px;
  }
  .industrytable [data-tag="dkblg"] {
    background-color:#1310a7;
    color:#ddd;
    padding:4px 5px;
  }
  .industrytable [data-tag="ltgbr"] {
    background-color:#ddd;
    color:Brown;
    padding:4px 5px;
  }
  .industrytable [data-tag="ltgmb"] {
    background-color:#ddd;
    color:MediumBlue;
    padding:4px 5px;
  }
  .industrytable [data-tag="ltgdkg"] {
    background-color:#ddd;
    color:DarkGreen;
    padding:4px 5px;
  }
  .industrytable [data-tag="dkggo"] {
    background-color:#2d2d2d;
    color:Gold;
    padding:4px 5px;
  }
  .industrytable [data-tag="dkglco"] {
    background-color:#2d2d2d;
    color:LightCoral;
    padding:4px 5px;
  }
  .industrytable [data-tag="dkgltbl"] {
    background-color:#2d2d2d;
    color:LightBlue;
    padding:4px 5px;
  }
  .industrytable [data-tag="dkgltgr"] {
    background-color:#2d2d2d;
    color:LightGreen;
    padding:4px 5px;
  }
  .industrytable [data-tag="dkgltg"] {
    background-color:#2d2d2d;
    color:#ddd;
    padding:4px 5px;
  }
  .industrytable [data-tag="False"], [data-tag="men"], [data-tag="coil"], [data-tag="spiral"] {
    text-align: center;
    background-color: #2d2d2d;
    color: #ddd;
  }
  .industrytable [data-tag="coil-spiral"] {
    text-align: center;
    background-color:  #2d2d2d;
    color: Gold;
  }
  .industrytable [data-tag="coil-ring"] {
    text-align: center;
    background-color:  #2d2d2d;
    color: LightCoral;
  }
  .industrytable [data-tag="True"], [data-tag="women"], [data-tag="paddle and anvil"]   {
    text-align: center;
    background-color: #ddd;
    color: #1310a7;
  }
  .industrytable [data-tag="hammering"]  {
    text-align: center;
    /* background-color: #f1eeee; */
    background-color: #ddd;
    color: DarkGreen;
  }
  .industrytable [data-tag="both"] {
    text-align: center;
    background-color: #1310a7;
    color: #ddd;
  }
  .industrytable [data-tag="beating"]   {
    text-align: center;
    background-color: LightBlue;
    color: #1310a7;
  }
  .industrytable [data-tag="scraping"]   {
    text-align: center;
    background-color: Pink;
    color: #1310a7;
  }
  .industrytable [data-tag="slab"] {
    text-align: center;
    background-color:  #1310a7;
    color: Gold;
  }
  .industrytable [data-tag="slab"] {
    text-align: center;
    background-color:  #1310a7;
    color: Gold;
  }
  .industrytable [data-tag="pinching"]   {
    text-align: center;
    background-color: LightBlue;
    color: OrangeRed;
  }
  .industrytable [data-tag="moulding"]   {
    text-align: center;
    background-color: LightBlue;
    color: DarkGreen;
  }
  .industrytable [data-tag="wheel"]   {
    text-align: center;
    background-color: #ddd;
    color: Black;
  }
  .industrytable [data-tag="ball"]   {
    text-align: center;
    background-color: LightBlue;
    color: Indigo;
  }