h1 {
    font-size: 3rem;
    color: #3ab2e9;
    margin: auto;
    width: 50%; 
}

h2 {
    font-size: 3.5rem;
    color: pink;
    text-align: left;
    font-weight: normal;
    margin: 2rem 2rem 1rem 2rem;
}
h3 {
  font-size: 3rem;
  color: #3ab2e9;
  text-align: left;
  font-weight: bold;
  margin: 2.2rem 2rem 1rem 2rem;
}
h4 {
  font-size: 2.5rem;
  color: #3ab2e9;
  text-align: left;
  font-weight: normal;
  margin: 2.4rem 2rem 1rem 2rem;
}
h5 {
  font-size: 2rem;
  color: #3ab2e9;
  text-align: left;
  font-weight: normal;
  margin: 2.6rem 2rem 1rem 2rem;
}






.hometable td {
  font-size: 2rem;
  text-align: center;
  padding-top: 12px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;

}
.linked {
    margin-left: 3rem;
}
p {
  margin: 0.5rem 2rem 1rem 2rem;
    color: #f1eeee;
    font-size: 1.5rem;
}
figcaption {
    font-size: 0.8rem;
    color: #3ab2e9;
    margin: 0.5rem 2rem 1rem 2rem;
    font-style: italic;
}
a {
    color: pink;
}
a:hover,
a:active {
  color: #1310a7;
  }

figcaption a {
    color: #1310a7;
    text-decoration: none;
}

figcaption a:hover,
figcaption a:active {
    color: #1310a7;
}


ul {
    float: left;
    list-style: none;
    margin: 0rem 2rem;
    width: 10%;
    max-width: 50rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    padding: 1rem;
    border-radius: 16px;
    background-color: #f1eeee; 
}


li{
    margin: 1rem 0;
    text-align: left;
    font-size: 0.8rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5rem;

}

li a {
    text-decoration: none;
    color: #1310a7;
}

li a:hover,
li a:active {
    color: pink;
}

ol {
    float: none;
    list-style: none;
    margin: 2rem 2rem 2rem 2rem;
    width: 90%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    padding: 1rem;
    border-radius: 16px;
    background-color: #f1eeee; 
}

mark {
    background-color: transparent;
    color: #ccc;
    font-style: italic;
  
}



#map { 
    width: 1000px;
    height: 400px;
    margin: 2rem 2rem 1rem 1rem;
    float: left;
  }
.after-map {
    clear: left;
}

/* #fea tr {
  border-right: 2px solid black;
} */


.industrytable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
    margin: 2rem 1rem 1rem 1rem;
    line-height: 22pt;
  }
  
  .industrytable td, .industrytable th {
    padding: 8px;
    color: whitesmoke
  }
  
  #fea td {
    border: 3px solid #ddd;
    vertical-align: top;
    
  } 

  #fea th {
    background-color: #2d2d2d; 
    border: 3px solid #ddd;
    
  } 
  #it {
    width: 95%; 
    
  } 
  .industrytable tr {
    border-bottom: 2px solid black;
    }

  .industrytable td {
  color: white;
  }
  .industrytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #acaead;
    color:whitesmoke;
    border: 1px solid #ddd;
  }
/*   
  .industrytable [data-tag="False"] {

    text-align: center;
    background-color:  #2d2d2d; ;
    color: white;
  }
  .industrytable [data-tag="True"] {

    text-align: center;
    background-color: #3ab2e9;
    color: black;
  }
  .industrytable [data-tag="S"] {
 
    text-align: center;
    background-color: red;
    color: rgb(63, 62, 62);
  }
  .industrytable [data-tag="SB"] {

    text-align: center;
    background-color: pink;
    color: rgb(63, 62, 62);
  }
  .industrytable [data-tag="SRB"] {

    text-align: center;
    background-color: violet;
    color: rgb(63, 62, 62);
  }
  .industrytable [data-tag="PR"] {

    text-align: center;
    background-color: rgb(239, 124, 9);
    color: rgb(63, 62, 62);
  }
  .industrytable [data-tag="SR"] {

    text-align: center;
    background-color: rgb(238, 206, 130);
    color: rgb(63, 62, 62);
  }
  .industrytable [data-tag="SBU"] {

    text-align: center;
    background-color: purple;
    color: rgb(119, 116, 116);
  }
  .industrytable [data-tag="LBU"] {

    text-align: center;
    background-color: plum;
    color: rgb(63, 62, 62);
  }
  .industrytable [data-tag="PA"] {

      text-align: center;
      background-color: blue;
      color: rgb(119, 116, 116);
    }
    .industrytable [data-tag="PO"] {

      text-align: center;
      background-color: lightskyblue;
      color: rgb(63, 62, 62);
    }
    .industrytable [data-tag="PC"] {

      text-align: center;
      background-color: navy;
      color: rgb(119, 116, 116);
    }
    .industrytable [data-tag="RG"] {

      text-align: center;
      background-color: orange;
      color: rgb(63, 62, 62);
    }
    .industrytable [data-tag="O"] {

      text-align: center;
      background-color: yellow;
      color: rgb(63, 62, 62);
    }
    .industrytable [data-tag="F"] {

      text-align: center;
      background-color: red;
      color: white;
    }
    .industrytable [data-tag="M"] {

      text-align: center;
      background-color:yellow;
      color:  rgb(63, 62, 62);
    }
    .industrytable [data-tag="B"] {

      text-align: center;
      background-color: plum;
      color: white;
    }
    .industrytable [data-tag="W"] {

      text-align: center;
      background-color: brown;
      color: white;
    }
    .industrytable [data-tag="N"] {

      text-align: center;
      background-color: red;
      color:  white;
    }
    .industrytable [data-tag="R"] {

      text-align: center;
      background-color: orange;
      color: black;
    }
    .industrytable [data-tag="P"] {

      text-align: center;
      background-color: yellow;
      color: black;
    } */