
a {
    text-decoration: none;
    color: #ecedf0;
}

a:hover,
a:active {
    color: #f8e64f;
}

label {
    text-decoration: none;
    color: #ecedf0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h2 {
    font-size: 2rem;
    text-align: left;
    font-weight: normal;
    margin: 1rem 2rem 1rem 2rem;
}

.form-control {

    margin: 2rem 0rem 1rem 5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    padding: 1rem;
    padding-top: 0rem;
    border-radius: 16px;
    background-color: #2d2d2d; 
}

.form-control2 {

    margin: 2rem 4rem 0rem 1rem;
    align-items: left;
    max-width: 70rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    padding: 1rem;
    padding-top: 0rem;
    border-radius: 16px;
    background-color: #2d2d2d; 
}


.submit {

    margin: 3rem 5rem 0rem 1rem;
    padding: 1rem;
}
  
  input[type=submit] {
    padding:5px 15px; 
    background:white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin: 1rem 1rem 1rem 2rem;
    font-size: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);

}
input[type=reset] {
    padding:5px 15px; 
    background:white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin: 1rem 1rem 1rem 2rem;
    font-size: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

input[type=checkbox] {
    accent-color:#cd2f18;
}
