


label {
    text-decoration: none;
    color: #ecedf0;
}

#site-form {
    clear:left;
    margin: 2rem 0rem 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    padding: 1rem;
    border-radius: 16px;
    background-color: #2d2d2d; 
    color: #f1eeee;
    width: 95%;

  }
  .siteboxes {
    color: #f1eeee;
    column-count: 6;
    padding-top: .1rem;
    padding-bottom: .1rem;
  }
/* .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.form-control {

    margin: 2rem 0rem 1rem 5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    padding: 1rem;
    padding-top: 0rem;
    border-radius: 16px;
    background-color: #2d2d2d; 
}

.form-control2 {

    margin: 2rem 4rem 0rem 1rem;
    align-items: left;
    max-width: 70rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    padding: 1rem;
    padding-top: 0rem;
    border-radius: 16px;
    background-color: #2d2d2d; 
} */
.flex-container {

    margin: 2rem 0rem 0rem 1rem;
    padding: 1rem;
    padding-top: 0rem;
}

.submit {

    margin: 1rem 1rem 0rem 1rem;
    padding: 1rem;
}
  
  input[type=submit] {
    padding:15px 15px; 
    background:white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin: .5rem .5rem 1rem .5rem;
    font-size: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    color: #1310a7;

}
input[type=reset] {
    padding:15px 15px; 
    background:white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin: .5rem .5rem 1rem .5rem;
    font-size: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    color: #1310a7;
}

input[type=checkbox] {
    accent-color: #1310a7;
    width:20px;
    height:20px;
}
