@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Padauk&display=swap');

html {
    font-family: 'IBM Plex Sans', sans-serif;
}
body {
    margin: 0rem 0rem 0rem 0rem;
    background-color: #5f5c5c;
    color: #f1eeee;
}


p {
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    color: #f1eeee;
    margin: 2rem 2rem 1rem 1rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: #3ab2e9;
    margin: auto;
    width: 50%; 
    background-color: #2d2d2d; 
    border-radius: 16px;
    padding: 1.5rem;
}
h2 {
    font-size: 2rem;
    color: #3ab2e9;
    text-align: left;
    font-weight: normal;
    margin: 2rem 2rem 1rem 2rem;
}
h3 {
    font-size: 1.5rem;
    text-align: left;
    color: #318cd9;
    font-weight: normal;
    margin: 2rem 2rem 0rem 2rem;
}

a {
    text-decoration: none;
    color: #318cd9
}

a:hover,
a:active {
  color:  pink;
}